<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="bg-secondary">

<div id="app">
    <div class="container">
        <div class="row" v-if="crops.length > 0">
            <div class="col-4">

                <div class="row ">
                    <div class="col">
                        <div class="row ">
                            <div class="col">
                                <legend>Growtime in hours</legend>
                                <div class="input-group mb-2">
                                    <span class="input-group-text" >min</span>
                                    <input type="number" class="form-control" placeholder="minHours" v-model="minGrowHours">
                                    <span class="input-group-text" >max</span>
                                    <input type="number" class="form-control" placeholder="maxHours" v-model="maxGrowHours">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <button class="btn btn-primary" type="button" id="button-addon2" @click="calculateBestCrop()">Calculate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div>
                            <legend>Visible columns</legend>
                            <div v-for="col in allowedCols" class="form-check ">
                                <input class="form-check-input" :checked="visibleCols.includes(col)"  type="checkbox"  @click="addVisibleCol(col)">
                                {{ col }}
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div>
                            <legend>Crop types</legend>
                            <div v-for="col in types" class="form-check ">
                                <input class="form-check-input" :checked="!excludedTypes.includes(col)"  type="checkbox"  @click="excludeType(col)">
                                {{ col }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  ">
                    <div class="col">
                        <div>
                            <legend>Visible Seasons</legend>
                            <div v-for="col in seasons" class="form-check ">
                                <input class="form-check-input" :checked="!excludedSeasons.includes(col)"  type="checkbox"  @click="excludeSeason(col)">
                                {{ col }}
                            </div>
                        </div>
                    </div>
                    <div class="col" v-if="excludedCrops.length > 0">
                        <div>
                            <legend>Excluded crops</legend>
                            <div v-for="col in excludedCrops" class="form-check ">
                                <input class="form-check-input" checked  type="checkbox"  @click="excludeCrop(col)">
                                {{ col }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-primary table-striped table-hover table-bordered" >
                    <tr>
                        <th>
                            Toggle<br> all
                            <input class="form-check-input" :checked="(excludedCrops.length === 0)"  type="checkbox"  @click="excludedCrops = []">
                        </th>
                        <th v-if="visibleCols.includes('image')">Image</th>
                        <th v-for="atr in Object.keys(crops[0])" v-if="visibleCols.includes(atr) && atr != 'image'">
                            {{ atr }}<br>
                            <div class="btn-group ">
                                <button type="button" class="btn btn-outline-secondary btn-sm" @click="sortCrops('-'+atr)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                                        <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm" @click="sortCrops(atr)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                        <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </th>
                    </tr>
                    <tr v-for="crop in crops" v-if="!excludedCrops.includes(crop.name) && !excludedTypes.includes(crop.type) && !crop.seasons.split(',').every(r => excludedSeasons.includes(r))">
                        <td>
                            <input class="form-check-input" :checked="!excludedCrops.includes(crop.name)"  type="checkbox"  @click="excludeCrop(crop.name)">
                        </td>
                        <td v-if="visibleCols.includes('image')">
                            <img :src="crop.image.urlBase64" width="64">
                        </td>
                        <td v-for="atr in Object.keys(crop)" v-if="visibleCols.includes(atr) && atr != 'image'">
                            <a target="_blank" :href="'https://farmtogether.fandom.com' + crop.link" v-if="atr == 'name'">{{crop.name}}</a>
                            <div v-if="atr == 'requirements'">
                                <p v-for="r in crop.requirements">
                                    {{ r.requirement.replace('Level','') }} level {{ r.level }}
                                </p>
                            </div>

                            <!-- when to many ands array include as specify design -->
                            <span v-if="atr != 'image' && atr != 'name' && atr != 'requirements'">{{ crop[atr] }} </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="rechner.js"></script>
</body>
<style>
    body{
        color: azure;
    }
    .container{
        margin: 2em;
    }
</style>
</html>